<html>
<head>
    <title>RPi Zero W with FishEye Zerocam</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
          media="none" onload="if(media!='all')media='all'">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>RPi Zero W with FishEye Zerocam</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="stream.mjpg" class="img-fluid mx-auto d-block" onclick="capture();" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function capture() {
            {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "/api/capture", true);
                xhttp.send();
            }
        }
    </script>
</body>

</html>
